

.hero_banner{

   
    position: relative;
    margin-bottom: 40px;
  
  
    img{
        height:300px;
        width: 100%;
       
    }


    

    h1{

        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
    }
}