// test brfore merge

.favorite_list{
    width: 100%;
    // height: calc(100vh - 400px);


    .card{
        display: flex;
        background-color: #FEFDC6;
        box-shadow: 0 3px 3px #333;
        margin-bottom: 3px;
        color:#333;
        height: 150px;
        align-items: center;


    .fav_container{

        .fav_image{
            img {
                height: 130px;
                margin: 5px;
            }
        }

        .middle_column{
            margin: 5px;
            height: 100%;
            width: 70%;
            position:relative;

            h2{
                font-size:x-large;
                margin-bottom: 10px;
            }

            .fav_toggle{
                position: absolute;
                bottom: 15px;
                left: 15px;
                font-size: 14px;
                color: #FEFDC6;
                background-color: #41A1FB;
                padding: 5px 10px;
                border-radius: 10px;



            }
        }
          
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, min-content));
            padding: 3px 0;


            a{
               
                
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                display: flex;
                justify-content:center;
                margin: 10px 5px;
                height:150px;
               
                .card{

                   
                    text-align: center;
                    margin: 25px 0;

                    h2{

                        margin: 5px 0;
                        color: rgb(110, 108, 108);
                    }

                    h4{
                        margin-top: 10px;
                        color: rgb(110, 108, 108);
                    }
                }

            }

            a:hover{

                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
       
    }
}}