.single_article{
    width:100%;
    // height:100vw;


    .image_offer {
        display: flex;
        padding: 20px 0;


        .image {
            flex: 75%;
            background-color:rgb(141, 139, 139);
            margin-right: 10px;
            height:400px;
            border-radius: 5px;
            text-align: center;
            
            img {
                width:50%;
                
            }
        }

        .offer {
            flex: 10%;
            height: 400px;

        
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;
            

            .user_button {
                display: flex;
            flex-direction: column;
            text-align: center;

            }

            button, .user_button button {
                padding: 10px;
                margin: 3px 5px ;
                background-color:#82baee;
                border-radius: 8px;
                cursor: pointer;
                border: none;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
            }
            .user{
                padding: 8px;
                margin: 5px 5px 0;
                background-color:#82baee;
              
                border-radius: 8px;
                height: 100%;
                color: #fff;
               
    
                h3{
                    font-size: 18px;
                    margin: 10px 0;
                }
    
                .address{
                    position: absolute;
                    bottom: 8px;
                    left:50%;
                    transform: translateX(-50%);
                    // background-color: gold;
                    
                    span {
                        display: block;
                        padding: 5px 0;
                    }
                }
                
            }
        }
    }


    //Details Section style
    .details{
        // border: solid 1px black;
        padding: 10px 40px;

        .title{
            
            background-color:#82baee;
            border-radius: 10px;
            padding: 8px 8px 0;
            position: relative;
            color: #fff;

            h2{
                font-size: 27px;
                padding-bottom: 5px;
                }
            p{
                padding-bottom: 8px;
            }

            .create_date{
                position: absolute;
                right: 8px;
                top: 8px;
            }
        }
        .description{
           
            background-color:#82baee;
            border-radius: 10px;
            padding: 8px 8px;
            position: relative;
            color: #fff;
            margin: 8px 0;

            h3{
                color: #fff;
                padding-bottom: 15px;
            }
    }
    }
    
}