.atricl_container {

    background-color:#DBEEFF;
    height: auto;

    h1 {
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
        color: red;
    }

    .article_list {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, min-content) );

        padding: 10px;
      
    }
}