.container_impressum {
    
    .heroImage {
        margin-top: 80px;
    }

    .details_impressum {

        ul{
            list-style-type: none;
            
        }

        h2{
            color: blue;
            font-family:'Courier New', Courier, monospace;

        }
    }

}