

/* Slideshow */

.slideshow {
    margin: 40px auto;
    overflow: hidden;
    max-width: 100%;

   
   
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
   
    height:400px;
    
  
  
   
  }

  .slideshowSlider img{

 
 
   height:100%;
   width:100%;
   object-fit: fill;
  
  
  }
  
  .slide {
    display: inline-block;
  
    height: 400px;
    width: 100%;
   
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
    
  }
  
  .slideshowDot.active {
    background-color: #0779fa;
  }
  
  