

.offer_container{

    .SmoothieOne{

        width: 200px;
         height: 200px;
          background: "green" ;
    }


    .Droppable{
        .SmoothieTwo{

            width: 200px;
             height: 200px;
              background: "red" ;
        }
    }
  
}