

.container_login{

    border: solid;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

    h1{
        text-align: center;
        color: white;

    }

    form{

        margin-left: 3px;

        .username, .password{

            label{

                display: block;
                margin: 1px 0;
                color: white;
                margin-left: 1px;
            }
            input{

                width: 40%;
                height: 25px;
            }
        }

        .login{

            margin-top: 15px;
             
            button{
                margin-top: 4px;
                display: block;
                font-size: 18px;
                padding:4px 12px;
                background-color:#342d72;
                color: white;

            }
            button:hover{

                outline:none;
                background-color:#316c9c;
     
                transition: all 1s ease;
                cursor: pointer;
             }
        }

        .forgot_password{

            margin-top: 15px;
            margin-bottom: 15px;
           
            a{
                color: white;
            }
        }


    }
}
