@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.logo {
  

width: 20%;
height:60px;

overflow: hidden;
 

  h2::first-letter {
    
    color: #e2502b;
    font-family: 'Alfa Slab One', cursive;
    font-size:30px;
    margin-left: 80px;
   
   
  }

}

.navbar {

  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 254, 254);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  

  .nav_right{

   
    width:80%;


      .nav_links_container{

        margin-top: 30px;

        display: flex;
        justify-content:space-around;
        

        .nav_links{

          margin-right: 250px;

          .nav_links_main{
            color: #0779fa;
          }

          a{
            color: #08488d;
            margin-left: 20px;
            font-size: 18px;

            &:hover{
              color: #0779fa;
            }
            
          }
        }

        .nav_login{
         
          a{
           color: #08488d; 
           margin-left: 7px;
           font-size: 18px;

           &:hover{
            color: #0779fa;
          }
          }
        }
      }
  }

  .nav_search_container{

    display: flex;
    justify-content: center;
    width: 70%;
    

    .search_input{
     
      width:500px;
      margin-right:95px;

      input{
       
        width: 100%;
        height: 33px;
        height: 33px;
        margin-top: 5px;
        margin-bottom: 7px;
       
      }
    }
  }
}
