@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



.navbar {

  height: 90px;

background:#fff;


  font-family: 'Roboto', sans-serif;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {

  
   
    // width: 13%;
    // height:60px;
    // margin-right: 20px;
    
    overflow: hidden;
    
 
    
     
    img{
      
      width:80px;
      height:80px;
      
    }
    
      h2::first-letter {
        
        color: #e2502b;
        font-family: 'Alfa Slab One', cursive;
        font-size:30px;
        margin-left: 20px;   
       
      }     
    
    }


    .nav_links_container {

     
      
      padding: 10px;

      margin-right: 40px;
      width:60%;
     
    
      display: flex;
      justify-content:space-between;
      align-items:center;
     


      .nav_links{
       
        padding:5px 0;
       

        width: 60%;

        .nav_links_main{
          // color: #0779fa;
        
        }

        a{

          font-size: 20px;
          margin: 10px;
         
          transition: all 0.5s ease;
          padding: 10px 5px;
          color: #0779fa;
        
          border-radius: 8px;

          &:hover{
           
            color: #6566cb;
            
          

          }
        }
      }

      .nav_search_container{

width:30%;
    
        display: flex; 


       
        
        .search_input{
          position: relative;
         
          width:100%;
          input{
            width:100%;
            height: 100%;
            padding: 5px ;
            outline: none;
        
          }

          span{
            position: absolute;
            right: 0;
           padding: 3px;

          }

        }

       
      }

      
      
      
    }
   
    


    .nav_login{

     
     width: 25%;
    
     

      font-size: 20px;
      .my_account{

       text-align: center;

        .login_link{
         padding: 10px;

          a{
            // color: #08488d;
           
            margin: 0 8px;
            color: #0779fa;
         
          
            padding: 10px 5px;

            &:hover{
           
              color: #6566cb;
            
             
  
            }
          }

          

        }
        
        
      }
    }

 
}


