@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



.navbar {

  height: 90px;



  font-family: 'Roboto', sans-serif;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
  
   
    // width: 13%;
    // height:60px;
    // margin-right: 20px;
    
    overflow: hidden;
    
 
    
     
    img{
      
      width:80px;
      height:80px;
      
    }
    
      h2::first-letter {
        
        color: #e2502b;
        font-family: 'Alfa Slab One', cursive;
        font-size:30px;
        margin-left: 20px;   
       
      }

     
    
    }

    .nav_links_container {

      margin-right: 40px;
      width:60%;
     
    
      display: flex;
      justify-content:space-between;
     


      .nav_links{
       
        padding:5px 0;
        margin-top: 15px;
       

        width: 60%;

        .nav_links_main{
          color: #0779fa;
        }

        a{
          color: #08488d;
          font-size: 20px;
          margin: 10px;

          &:hover{
            color: #0779fa;
          }
        }
      }


      .nav_search_container{

    
        display: flex;
        margin-left:10px;
       

        
        .search_input{
          width: 90%;

          input{
            width:100%;
            height:35px;
          }
        }

        .search_icon{

          border: 1px solid;
          
        }
      }

      
    }
    button{
      display: none;

     
    }
    


    .nav_login{
     
      height:70px;

      font-size: 20px;
      .my_account{

        .login_link{
          margin-top: 15px;

          a{
            color: #08488d;
            margin: 0 8px;
          }
        }
        
        
      }
    }

 
}


